2ªevaluación/xml/probas-examen-xml/xsd/ex2/efemerides.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="efemerides">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="efemeride" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="fecha" type="xs:string"></xs:element>
                            <xs:element name="hecho" type="xs:string"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>