2ªevaluación/xml/probas-examen-xml/xsd/ex4/inventores.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="inventores">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="inventor">
                    <xs:complexType>
                        <xs:attribute name="nombre" type="xs:string" use="optional" />
                        <xs:attribute name="invento" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>